In [2]:
student = {
    "name" :"john",
    "age" : 25,
    "course": "python",
    "marks" : 78
}
print(student)

{'name': 'john', 'age': 25, 'course': 'python', 'marks': 78}

In [1]:
info=dict(name="alice",age=25,city="new york",gender="male")
print(info)

{'name': 'alice', 'age': 25, 'city': 'new york', 'gender': 'male'}

In [3]:
#1st method to acces the value of key
print(info['name'])

alice

In [4]:
#2nd method to acces the value of a key
print(info.get('age'))

25

In [5]:
#to add a new pair to dictionary
info['country']='USA'

In [6]:
print(info)

{'name': 'alice', 'age': 25, 'city': 'new york', 'gender': 'male', 'country': 'USA'}

In [7]:
#to add a new pair to dictionary
info['class']='XI'
print(info)

{'name': 'alice', 'age': 25, 'city': 'new york', 'gender': 'male', 'country': 'USA', 'class': 'XI'}

In [ ]:
print(info.keys())#it give all keys
print(info.values())#it gives all values
print(info.items())#it gives both key and values in tuple form

dict_keys(['name', 'age', 'city', 'gender', 'country', 'class'])
dict_values(['alice', 25, 'new york', 'male', 'USA', 'XI'])
dict_items([('name', 'alice'), ('age', 25), ('city', 'new york'), ('gender', 'male'), ('country', 'USA'), ('class', 'XI')])

In [ ]:
temp = {
    'lucknow': [25,35,35],
    'delhi' : [28,32,30],
    'mumbai' : [30,31,29]
}
print(temp)

{'lucknow': [25, 35, 45], 'kanpur': [26, 33, 46], 'delhi': [27, 34, 47]}

In [11]:
for k in info:
    print(k)

name
age
city
gender
country
class

In [12]:
for k,v in info.items():
    print(f"{k}:{v}")

name:alice
age:25
city:new york
gender:male
country:USA
class:XI

In [ ]:
company={
    'emp001':{
        'name':'alice',
        'age':25,
        'department':'HR'
    },
    'emp002':{
        'name':'Bob',
        'age':25,
        'department':'IT'
    },
    'emp003':{
        'name':'alice',
        'age':28,
        'department':'Finance'
    }
}
print(company)

{'emp001': {'name': 'alice', 'age': 25, 'department': 'HR'}, 'emp002': {'name': 'Bob', 'age': 25, 'department': 'IT'}, 'emp003': {'name': 'alice', 'age': 25, 'department': 'Finance'}}

In [19]:
from pprint import pprint# import pretty print
pprint(company)

{'emp001': {'age': 25, 'department': 'HR', 'name': 'alice'},
 'emp002': {'age': 25, 'department': 'IT', 'name': 'Bob'},
 'emp003': {'age': 25, 'department': 'Finance', 'name': 'alice'}}

In [20]:
company['emp001']['age']

25

In [32]:
#to add emp004 in nested dictionary
company['emp004']={
    'name':'dev',
    'age':20,
    'department':"CEO"
}
    
pprint(company)

{'emp001': {'age': 25, 'department': 'HR', 'name': 'alice'},
 'emp002': {'age': 25, 'department': 'IT', 'name': 'Bob'},
 'emp003': {'age': 25, 'department': 'Finance', 'name': 'alice'},
 'emp004': {'age': 20, 'department': 'CEO', 'name': 'dev'}}

In [31]:
company['emp004']['age']

20

In [38]:
sum(temp['delhi'])/len(temp['delhi'])

36.0