In [1]:
a={2,5,3,5,7,4,6,87,4,6,3,5,2,3,5}
print(a)

{2, 3, 4, 5, 6, 7, 87}

In [2]:
a-{2,5,3,5,7,4,6,87,4,6,3,5,2,3,5}
for i in a:
    print(i)

2
3
4
5
6
7
87

- set creation
- methods and operation
  - union
  - intersection
  - symmetric difference
  - issubset
  - issuperset

In [ ]:
x=set("hello")#string to set
print(x)

{'h', 'l', 'o', 'e'}

In [4]:
x=set([1,2,3,4,5])#list to set
print(x)

{1, 2, 3, 4, 5}

In [5]:
x=set(range(1,15))
print(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [ ]:
#empty set

lst=set()
print(lst)

set()

In [8]:
# to add element in empty set
lst.add(1)
lst.add(6)
lst.add(8)
lst.add(4)
lst.add(3)
lst.add(2)
print(lst)

{1, 2, 3, 4, 6, 8}

In [9]:
#to remove element in set
lst.pop()
print(lst)

{2, 3, 4, 6, 8}

In [10]:
lst.discard(6)
print(lst)

{2, 3, 4, 8}

In [11]:
a={1,2,3,4,5}
b={4,5,6,7,8}
print(a)
print(b)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [ ]:
print(a.union(b))
print(a | b)# second  format of coding union function

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
print(a.intersection(b))
print(a & b)# second  format of coding intersection function

{4, 5}
{4, 5}

In [ ]:
print(a.difference(b))# fro  diffrence it will see only first set  in a-b
print(b-a)

{1, 2, 3}
{8, 6, 7}

In [16]:
print(a.symmetric_difference(b))# for symmetric  diffrence it will see only first set  in a-b
print(a^b)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [17]:
x={1,2,3,4,5,6}
y={2,4,6}
print(x.issuperset(y))#means all element of y is in x
print(x.issubset(y))#means all element of y is in x

True
False