# Python Programming Questions

## Loops, Conditionals, Strings, and Arrays

1. **Print numbers from 1 to 10 using a `for` loop.**

2. **Write a program to print the multiplication table of a given number using a `while` loop.**

3. **Write a program to find the sum of all even numbers between 1 and 100 using a `for` loop.**

4. **Write a program to check if a given number is prime or not using a `while` loop.**

5. **Write a program to calculate the factorial of a number using a `for` loop.**

6. **Write a program to print the Fibonacci series up to a given limit using a `for` loop.**

7. **Write a program to find the largest element in an array using a `for` loop.**

8. **Write a program to reverse a given string using a `while` loop.**

9. **Write a program to print the ASCII values of all uppercase letters using a `for` loop.**

10. **Write a program to check if a given string is a palindrome using a `for` loop.**

11. **Write a program to calculate the average of a list of numbers using a `for` loop.**

12. **Write a program to find the smallest element in an array using a `while` loop.**

13. **Write a program to calculate the sum of digits of a number using a `for` loop.**

14. **Write a program to check if a given list of years has a leap year using a `while` loop.**

15. **Write a program to print the multiplication table of numbers from 1 to 5 using a `for` loop.**

16. **Write a program to find the factorial of a number using a `for` loop.**

17. **Write a program to count the number of vowels in a given string using a `for` loop.**

18. **Write a program to find the largest and smallest elements in an array using a `for` loop.**

19. **Write a program to reverse the order of words in a sentence using a `while` loop.**

In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# dougth

In [4]:
a=int(input("enter the number"))
i=1   
while(i>2):
    b=i*a
    i+=1
    print(b)

In [17]:
sum=0
for i in range(1,111):
    if(i%2==0):
        sum=sum+i
        print(f'{i} is even then the sum will {sum}')
print(sum)

2 is even then the sum will 2
4 is even then the sum will 6
6 is even then the sum will 12
8 is even then the sum will 20
10 is even then the sum will 30
12 is even then the sum will 42
14 is even then the sum will 56
16 is even then the sum will 72
18 is even then the sum will 90
20 is even then the sum will 110
22 is even then the sum will 132
24 is even then the sum will 156
26 is even then the sum will 182
28 is even then the sum will 210
30 is even then the sum will 240
32 is even then the sum will 272
34 is even then the sum will 306
36 is even then the sum will 342
38 is even then the sum will 380
40 is even then the sum will 420
42 is even then the sum will 462
44 is even then the sum will 506
46 is even then the sum will 552
48 is even then the sum will 600
50 is even then the sum will 650
52 is even then the sum will 702
54 is even then the sum will 756
56 is even then the sum will 812
58 is even then the sum will 870
60 is even then the sum will 930
62 is even then the sum will 992
64 is even then the sum will 1056
66 is even then the sum will 1122
68 is even then the sum will 1190
70 is even then the sum will 1260
72 is even then the sum will 1332
74 is even then the sum will 1406
76 is even then the sum will 1482
78 is even then the sum will 1560
80 is even then the sum will 1640
82 is even then the sum will 1722
84 is even then the sum will 1806
86 is even then the sum will 1892
88 is even then the sum will 1980
90 is even then the sum will 2070
92 is even then the sum will 2162
94 is even then the sum will 2256
96 is even then the sum will 2352
98 is even then the sum will 2450
100 is even then the sum will 2550
102 is even then the sum will 2652
104 is even then the sum will 2756
106 is even then the sum will 2862
108 is even then the sum will 2970
110 is even then the sum will 3080
3080

# In prime question there are some dougth

In [25]:
a=5
fac=1
for i in range(1,a+1):
    fac=fac*i
    print(fac)

1
2
6
24
120

In [27]:
a=0
b=1
print(a)
for i in range (10):
    c=a+b
    a=b
    b=c
    print(c)

0
1
2
3
5
8
13
21
34
55
89

# dougth

In [8]:
a=[1,10,5,500,200]
b=0
#a.sort()
for i in a:
    if(i<b):
        print(f'{i} {b}')

       
    else:
        print(f'{i} {b}')
        #i=b
        b=i
     

#print(i)

1 0
10 1
5 10
500 10
200 500

In [33]:
a='my name is dev'
b=len(a)
print(b)
while(b>0):
    print(a[b-1],end=" ")
    b-=1

14
v e d   s i   e m a n   y m

# queston 9: what is ascii

In [21]:
a="12"
copy=a
b=len(a)
c=""
for i in range(0,b):
    c=c+(a[b-1])
    b-=1
    
if(c==copy):
    print("it is palindrome string")
else:
    print("it not a palindrome string")

it not a palindrome string

In [24]:
a=[1,2,3,4,5,6,7,8,9]
sum=0
for i in a:
    sum=sum+i
avg=sum/len(a)
print(avg)

5.0

question 12 i dont know and question 13 is very easy

In [27]:
a=int(input("enter the year"))
if(a%4==0):
    print('it is a leap year')
else:
    print("it is not a leap year")

it is not a leap year

dougth in 15 question

In [30]:
a=(0,1,2,3,4,5,6,7,8,9,10)
print(2*a)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [37]:
a=int(input("enter a number"))
b=1
for i in range(1,a+1):
    b=b*i
print(b)

120

not solved completely

In [48]:
a="i am dev"
b=['a','e','i','o','u']
sum=0
for i in a:
    if i==b:
        print(i)

In [ ]:
a="my name is dev"
d= a.split()
b=[]
c=len(d)-1
while(c>=0):
    b.append(d[c])
    c-=1
print(b)

3
['dev', 'is', 'name', 'my']